.frames{
    padding-top: 3em;
}

#canvas {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

.reshape{
    width: 1190px;
    height: 960px;
}

.backgrounds{
    height: 150px;
    width: 210px;
    margin: 10px;
    border-style: none;
    opacity: 0.5;
    /* margin-right: 20px;
    display: block; */
}

.backgrounds:hover{
    opacity: 1;
}
